body {
    background-color: black;
    background-image: url("https://1.bp.blogspot.com/-4HUVuwoGxug/Vmx9NVZZe1I/AAAAAAAAFcE/BqveJd0bZac/s475/6bd8ef35364c9672c7cbb4687977d3ee.gif");
    background-image: image();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    -webkit-animation-name: name;
    animation: name 3s infinite;
    animation-name: name;
}

@keyframes name {
    0% {
        filter: brightness(100%);
        background-size: 42.5%;
    }
    10% {
        filter: brightness(100%);
        background-size: 42%;
    }
    20% {
        filter: brightness(200%);
        background-size: 41.5%;
    }
    30% {
        filter: brightness(250%);
        background-size: 41%;
    }
    40% {
        filter: brightness(300%);
        background-size: 40.5%;
    }
    50% {
        filter: brightness(350%);
        background-size: 40%;
    }
    60% {
        filter: brightness(300%);
        background-size: 40.5%;
    }
    70% {
        filter: brightness(250%);
        background-size: 41%;
    }
    80% {
        filter: brightness(200%);
        background-size: 41.5%;
    }
    90% {
        filter: brightness(150%);
        background-size: 42%;
    }
    100% {
        filter: brightness(100%);
        background-size: 42.5%;
    }
}

.container {
    align-items: center;
    width: 60vw;
    margin-top: 15%;
}

#pesquisaBar {
    margin-left: 1rem;
    border-bottom: chartreuse;
    border-color: chartreuse;
}

#pesquisa,
#pesquisaS {
    height: 3.4vw;
    width: 45vw;
    border-left: #212429;
    border-right: #212429;
    border-color: chartreuse;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 1rem;
}

#setaAbre {
    height: 3.4vw;
    border-color: chartreuse;
    font-size: 2rem;
    border-right: #212429;
}

#setaFecha {
    height: 3.4vw;
    border-color: chartreuse;
    font-size: 2rem;
    border-left: #212429;
}

#classePesquisa {
    margin-left: 40%;
    width: 10vw;
    border: chartreuse;
    color: #7cfc00;
    border-left-color: #212429;
}

#buttonAcao {
    width: 5vw;
    height: 2.7vw;
    border-color: #7cfc00;
    border-left: #212429;
    box-shadow: 0 0 0 0;
    outline: 0;
    text-decoration-color: crimson;
}

#modoDePesquisa {
    width: 4vw;
    height: 2.7vw;
    border-color: #7cfc00;
    border-right: #212429;
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    transition: background 3s;
}

button:hover,
button:focus {
    transition: background 8s;
    background: #7cfc00;
}